
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F8F7;;
}

:root {
    font-family: 'Heebo', 'PT Sans', sans-serif;
    --main-color: #FF868E;
    --bg-color: #F8F8F7;
   --add-color: #FBE0DC;
   --green-color:  #97EAB9;
   --yellow-color: #FFD280;
   --blue-color: #B4B7FF
;
}

img {
    display: block;
    width: 100%;
    background-color: transparent;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
   justify-content:normal;
}

button{
    border-radius: 10px;
    background-color: white;
    color: #FF868E;
    border: none;
    padding: 10px;
}
.back-btn{
    background: url(../img/icons/back.svg), var(--add-color) ;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    padding: 10px;
}
.back-btn:hover{
    background: url(../img/icons/back-w.svg), var(--main-color) ;
    background-position: center;
    background-repeat: no-repeat;
}

.name-block{
    text-transform: uppercase;
    color: white;
    background-color: var(--main-color);
    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    margin-left: 10px
}
.nav-display{
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        display: flex;
    justify-content: space-between;
}
.nav-menu{
    background-color: white;
    border-radius: 20px;
    

}
#nav-display-result{
    background-color: white;
    border-radius: 20px;
}
.nav-display-result > div{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
visibility: visible;
}