.navbar-upload{
    background: url(../img/icons/upload.svg), var(--add-color);
    background-repeat: no-repeat;
    background-position: 25% 50%;
    background-size: 10%;
    font-family: Jost;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 12px 30px 12px 56px;
    align-self:flex-end;
}
.navbar-upload:hover{
    background: url(../img/icons/upload-w.svg), var(--main-color);
    background-position: 25% 50%;
    background-size: 10%;
    background-repeat: no-repeat;
    color: white;
}
.nav-display-navbar{
    display: flex;
    flex-direction: row ;
    background-color: white;
}
.update-gallery{
    background: url(../img/icons/update-spin.svg), white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    min-width: 40px;
}
.limit-class{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.gallery-navbar{
    margin-left: 20px;
    margin-right: 20px;
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
    background-color: #F8F8F7;
}
.gallery-nav-1{
    display: flex;
    border-radius:20px ;
    flex-direction: row;
}
.gallery-nav-1:last-child{
    margin-bottom:20px ;
}
.gallery-navbar-opt{
    border-radius:20px ;
    display: flex;
    flex-direction: column;
    min-width: 290px;
    padding: 10px;
}
.gallery-pars-label{
    font-family: Jost;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
    padding-left: 5px;

}
.gallery-pars {
    color:black;
    background-color: white;
    border-radius: 10px;
    position: relative;
    font-family: Jost;
    border: 2px solid white;
    padding: 8px;
    justify-content:stretch;
}
.gallery-pars:hover{
    border: 2px solid var(--add-color); 
}
.gallery-pars:active{
    border: 2px solid var(--main-color); 
}
.gallery-pars > option{
    background-color: white;
    color: #8C8C8C
}

.limit-class-select{
    display: flex;
    flex-direction: column;
}
.nav-display-result, .nav-display-result-favourites{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
}
.tooltip{
    position: relative;
    padding: 0px 0px 85% 0px;
    
}
.tooltip > img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.tooltip:first-child, .tooltip:nth-child(16){
    grid-row: span 2 ;
}
.tooltip:nth-child(4), .tooltip:nth-child(19){
    grid-column: span 2;
    grid-row: span 2;
}
.tooltip:nth-child(8), .tooltip:nth-child(11) {
    grid-row: span 2 ;
}
.tooltip:nth-child(9), .tooltip:nth-child(14){
    grid-column: span 2;
    grid-row: span 2;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
.tooltip:hover .tooltiptext {
visibility: visible;
}
/* .heart-btn:hover{
    background: url(../img/icons/heart.svg), var(--add-color);
    background-position: center;
    background-size: 10%;
    background-repeat: no-repeat;
    /* position: absolute; */
    /* border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
} */ 
