.nav-display-upload{
    background-color: rgba(29, 29, 29, 0.6);
    border-radius: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-dispaly-message{
    background-color: #F8F8F7 ;
    margin: 30px; 
    /* max-width: 680px;  */
    overflow: hidden; 
    border-radius: 20px;
    height: 100vh;
    padding: 20px;

}
.upload-header{
    font-family: Jost;
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;
    background-color: #F8F8F7 ;
    padding-left: 55px ;
    padding-bottom: 10px;
    margin-top: 50px;

}
.upload-text{
    background-color: #F8F8F7 ;
    padding-left: 36px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8C8C8C;
}
.upload-link{
    color: #FF868E;
    background-color: #F8F8F7 ;
}
.upload-link:hover{
    text-decoration: underline;
}
.drag-area{
    margin-top: 40px;
    border: dashed 4px var(--add-color);
    min-height: 20em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(../img/icons/upload-bg.svg), white; */
    background-repeat: no-repeat;
    background-position: center;


}
.drag-area:hover{
    border: dashed 4px var(--main-color);
    border-radius: 20px;
    
}
.upload-close{
    background: url(../img/icons/cross.svg), white;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 40px;
    min-height: 40px;
    transform: translateX(1490%);
}
.upload-close:hover{
    background: url(../img/icons/cross-w.svg),var(--main-color);
    background-repeat: no-repeat;
    background-position: center;

}
.drag-area-text{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #8C8C8C;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;  
}
b {
    background-color: transparent;
    color: #1D1D1D;
}
.drag-zone-input{
    display: none;
}
.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
